/.idea/.gitignore
/Writerside/.idea/.gitignore
/api-object-digest.json
/.idea/maerstanas.iml
/.idea/misc.xml
/.idea/modules.xml
/Writerside/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/Writerside/.idea/vcs.xml
/Writerside/.idea/Writerside.iml
